* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /*background-color: #FCECF3;*/
    background: rgba(108, 139, 170, 0.8);
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

ul {
    list-style: none;
}
.top-header {
    align-items: center;
    background: #6C8BAA;
    box-shadow: 0px 2px 10px #333333;
    display: flex;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.top-nav {
    flex: 1;
}
.top-nav a {
    color: #F9F9F9;
    font-weight: 400;
    margin-left: 20px;
    text-decoration: none;
}
.avatar {
    background: #FFFFFF;
    border-radius: 50%;
    color: #333C4D;
    height: 40px;
    margin-right: 20px;
    padding-left: 9px;
    padding-top: 5px;
    width: 40px;
}
#welcome-msg {
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
}
.container {
    margin: 60px auto;
    max-width: 1000px;
    min-width: 600px;
}
.container>header {
    align-items: center;
    background:
            url('../IMAGE/bg.jpg')
            no-repeat 50% 50%;

    background-size: 100%;
    display: flex;
    height: 300px;
}

.container>header p {
    color: #000000;
    border-left: 1.5px solid #000000;
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
    margin-left: 420px;
    padding-left: 5px;
}
/*.main-section {*/
/*    background: #6C8BAA;*/

/*}*/
#item-nav {
    float: left;
    width: 180px;
    height:800px;
}

.main-nav-btn {
    background: #6C8BAA;
    border-top: 1.5px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    padding: 20px;
    text-align: left;
    text-decoration: none;
}
.main-nav-btn:hover {
    background: #A6C3E2;
    color: #624630;
}
.main-nav-btn.active {
    background: rgba(255, 255, 255, 0.7);
    color: #624630;
}
.main-nav-btn i {
    width: 20px;
}
/*search bar*/
#search-option {
    padding: 10px 0;
}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}


input {
    border: none;
    outline: none;
    width: 100%;
    height: 42px;
    padding-left: 13px;
    padding-right:46px;
}

#keyword-search-btn {
    border: none;
    outline: none;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}
.bar {background: rgba(255, 255, 255, 0.7);}
.bar input {
    border: 2px solid #624630;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7);
    color: #9E9C9C;
    font-size: medium;
}
.bar button {
    top: 0;
    right: 0;
    background: #6C8BAA;
    border-radius: 0 5px 5px 0;
}
.bar button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

/*item part*/
#item-list {
    background: rgba(255, 255, 255, 0.7);
    color: #624630;
    list-style: none;
    margin-left: 180px;
    min-height: 250px;
    padding: 10px;
}

.item {
    align-items: center;
    border-bottom: 1px solid #624630;
    display: flex;
    margin: 10px;
    padding: 15px;
    transition: background-color 100ms linear;
}

.item:last-child {
    border: none;
}

.item:hover {
    background: rgba(255, 255, 255, 0.8);
    transition: background-color 100ms linear;
}

.item img {
    border: 1px solid #624630;
    height: 80px;
    width: 80px;
}

.item>div:first-of-type {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.item-name {
    color: #624630;
    font-weight: 400;
    text-decoration: none;
}
.item-detail-btn {
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #624630;
    color:  #624630;
    padding: 1px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.item-detail-btn:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 14px 30px 0 rgba(0,0,0,0.19);
}
.item-name:hover {
    text-decoration: underline;
}

.item-address {
    line-height: 20px;
    padding-right: 20px;
    text-align: right;
}

/*.stars {*/
/*    align-items: center;*/
/*    display: flex;*/
/*    padding-top: 10px;*/
/*}*/

.fav-link {
    border-left: 1px solid #624630;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
    width: 60px;
}

.fav-link:hover {
    color: #F13F3F;
}

#login-form {
    color: #624630;
    margin: 0px auto;
    overflow: auto;
    padding: 40px;
    width: 350px;
}

#login-form label {
    display: block;
}

#login-form input {
    border: none;
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}
#logout-link {
    padding-left: 10px;
    color: white;
}
#login-form #login-btn {
    cursor: pointer;
    float: right;
    padding: 8px 20px;
    text-align: right;
}

#login-form #register-form-btn {
    cursor: pointer;
    float: left;
    padding: 8px 10px;
    text-align: left;
}

#login-error {
    clear: both;
    color: #990000;
    padding-top: 10px;
}
#register-form {
    color: #624630;
    margin: 0px auto;
    overflow: auto;
    padding: 40px;
    width: 350px;
}

#register-form label {
    display: block;
}

#register-form input {
    border: none;
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}

#register-form #login-form-btn {
    cursor: pointer;
    float: left;
    padding: 8px 10px;
    text-align: left;
}
#register-form #register-btn {
    cursor: pointer;
    float: right;
    padding: 8px 20px;
    text-align: right;
}

#register-result {
    clear: both;
    color: #990000;
    padding-top: 10px;
}


.event {
    color: #624630;
    margin-left: 180px;
    padding-bottom: 100px;
     background:  rgba(255, 255, 255, 0.7);
}

.user {
    /*margin: 10px;*/
    /*padding: 15px;*/
    background: rgba(255, 255, 255, 0.7);
    color: #624630;
    list-style: none;
    margin-left: 180px;
    min-height: 250px;
    padding: 10px;
}
#event-img {
    width: 300px;
    height: 250px;
    display: block;
}

.event-header, .event-body, .user-profile {
    align-items: center;
    display: block;
    transition: background-color 100ms linear;
}

.event-content{
   padding-left: 10px;
   /* float:right; */
}

.user-data {
    padding-left: 10px;
    width: 600px;
}

.event-body-content *{
    overflow: hidden;
    word-wrap: break-word;
}

.user-profile *{
    overflow: hidden;
    word-wrap: break-word;
}

.event-name {
    font-size: 1.5em;
}



.event-category {

}

.event-address, .event-time, .user-favorites {
    font-size: 14px;
    font-weight: 500;

}

.event-date {

}

.event-header, .event-body, .user-profile {
    margin-top: 20px;
}

.event-body * {
       margin-bottom: 20px;
}

.user-body * {
    margin-bottom: 20px;
}

.event-sidebar{
    width: 1200px;
}

.user-sidebar {
    width: 400px;
    position: right;
}


.event-body-content, .user-body-content{
    display: flex;
    flex-direction: column;
}

.event-description, .user-description, .user-description-edit {
    text-align: left;
}

.event-body .about {
    font-size: 1.6em;
}

.user-body .about {
    font-size: 1.6em;
}

.event-body, .user-body {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
}

.user-body {
       flex-direction: column;
}

.user-description {
       white-space: pre;
}

.user-description-edit {
       height: 100px;
       resize: none;
}
.form-control{
  width:500px;
  height:80px;
}
.img-circle{
  width:30px;
  height:30px;
}

#edit-profile-btn {
       max-width: 100px;
       text-align: center;
       padding: 6px;
}